body.main-page {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/barbershop-index/background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

body.other-page {
  width: 100%;

  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;

  background-color: hsl(0, 0%, 0%);
  background-image: url("../img/barbershop-index/back-block-index.png");
  background-position: top center;
  background-repeat: repeat;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.btn {
display: inline-block;
margin-right: 16px;
padding: 10px 30px;


  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.btn.disabled,
.btn:disabled{
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.price {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #e5e5e5;
  border: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #adb5bd;
  /* border-radius: 0.25em; */
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-color: #000;
}
.custom-checkbox:checked + label::before {
  border-color: #000;
  /* background-color:#adb5bd; */
  background-image: url("/img/barbershop-shop/cross.png");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #f9f6f3;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-view:hover,
.btn-view:focus,
.btn-view:active{
  background-color: #663d15;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  
}

.site-navigation,
.user-navigation,
.other-site-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a,
.other-site-navigation a {
  display: block;
  padding: 25px 20px;
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.other-site-navigation a:hover,
.other-site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.wrap a,
.wrap a {
  color: #000000;
}

.wrap a:hover,
.wrap a:focus {
  text-decoration: underline;
}

.item-equipment,
.item-photo,
.main-photo {
  list-style: none;
}

.feature-list {
  list-style: none;
}

.feature-item {
  text-align: center;

  
}

.feature-item h3 {
position: relative;

  margin: 0;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 42px;

  
}

.feature-item h3::after{
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;

  width: 20px;
  height: 20px;

  background-color: seashell;

  transform: rotate(45deg);
}

.feature-item p{
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/barbershop-index/block-shadow-hr.png") ,
   url("../img/barbershop-index/back-block-index.png");
  background-position: center, 0 0;
  background-repeat: no-repeat ,repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;

  
}

.news{
  height: 316px;
}


.news-list {
margin: 0;
margin-bottom: 25px;
padding: 0px;

  list-style: none;
}

.news-item{
  margin-bottom: 25px;
}

.news-item p{
  margin: 0;
}

.news-item time {
  text-transform: none;
}

.gallery{
  height: 316px;
}





.gallery-container{
  position: relative;
  height: 260px;
  
}

.gallery-slide {
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #fff;
}



.gallery-button{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev{
  left: 0;
}

.gallery-next{
  right: 0;
}



/*SHOP*/
.shop-galery-item {
  list-style: none;
}

.btn-page-all {
  list-style: none;
}

.btn-page {
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}
.btn-page a{
  color: #fff;
}

.btn-page:hover,
.btn-page:focus,
.btn-page:active,
.btn-shop:hover,
.btn-shop:focus,
.btn-shop:active
 {
  color: #fff;
  background-color: #663d15;
}

.chekbox-radio:hover,
.chekbox-radio:focus,
.chekbox-radio:active {
  color: #663d15;
}
/* FOOTER */

.footer {
  color: #fff;

  background-color: #212121;
  background-image: url("../img/barbershop-index/back-footer-index.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social p{
display: block;
margin-bottom: 15px;

}
.social-btn {
display: flex;
align-items: center;
justify-content: center;
  width: 43px;
height: 43px;
margin-bottom: 10px;



  background-color: #000;
}


.social-btn:hover,
.social-btn:focus{
  background-color: #fff;
}

.social-btn:hover path,
.social-btn:focus path{
  fill: #000000;

}

.footer-copyright {
  text-align: center;
}

.footer-copyright .btn:hover,
.footer-copyright .btn:focus {
  color: #000000;

  background-color: #fff;
}
.footer-copyright p{
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .btn{
  display: block;
  margin-right: 0px;
}



.restore {
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

/* сеточные стили */

html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

.container {
  
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;
  
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 70px;
}

.user-navigation {
  display: flex;

  max-width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 70px;
}

.user-navigation .login{
  position: relative;
  padding-left: 50px;
}

.login::before{
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("/svg/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3; /* полупрозрачность */
  
  
}

.login:hover::before,
.login:focus::before,
.login:active::before{
  opacity: 1;
}

.advantages {
  margin-bottom: 80px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  /*  */
  min-height: 170px;
}

.feature-item {
  width: 300px;
  
  min-height: 170px;


}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 30px;

  /*  */
}

.news {
  width: 380px;
  /*  */
  min-height: 315px;
}

.gallery {
  width: 300px;
  /*  */
  min-height: 315px;
}

.contacts {
  width: 380px;
}

.contacts p{
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-info{
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

 
}

.appointment-item{
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
 
  
}

.appointment-item input {
 box-sizing: border-box;
 width: 140px;
 padding-top: 8px;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 7px;
 
 
  font: inherit;
  

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .btn{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
  
}

.appointment-item label{
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}



.footer {
  margin-top: 65px;
  padding: 60px 0;

  /*  */
  min-height: 180px;
}

.footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-social {
  width: 145px;

  text-align: center;
}


.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.other-main-header {
  background-color: #000;

  height: 72px;
}

.other-main-navigation-wrapper .other-container {
  display: flex;
  justify-content: space-between;
  height: 72px;
}
.other-container {
  width: 940px;

  margin: 0 auto;
  padding: 0px 10px;
  height: 72px;
}

.other-site-navigation {
  display: flex;
  justify-content: space-between;
  width: 505px;
  margin: 0;
  padding: 0;
  margin-left: -100px;

  list-style: none;
  height: 72px;
}
.other-main-navigation-wrapper {
  width: 100%;

  background-color: #000;
}
.other-container li {
  white-space: nowrap;
}
.other-header-logo {
  padding-top: 24px;
}

.other-site-navigation a:hover,
.other-site-navigation a:active {
  border-bottom: 4px solid #fff;
  padding-bottom: 25px;
}



.wrap ul {
  list-style: none;
  display: flex;
  padding: 0px;
}
.wrap li {
  margin-right: 15px;
}
.shop-galery-item {
  display: flex;
  flex-wrap: wrap;
}

.shop-galery-item li {
  margin-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(122,122,122,0.5);

}
article {
  width: 220px;
  height: 286px;
}
.titel p {
  width: 200px;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
}
.price {
  width: 110px;

  padding-top: 9px;
}


.item-price-and-btm {
  width: 187px;
  height: 43px;
  display: flex;

  padding: 0px 10px;
  text-align: center;
}


.btn-view {
  width: 112px;
  height: 43px;
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
  border-radius: none;
}

.btn-shop{
  width: 78px;
  height: 43px;
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
  border-radius: none;
}
.btn-shop a{
  color: #fff;
}



.all-block{
  display: flex;
}

.block1{
  min-width: 180px;
}

.titel{
  color: #000;
}

.btn-page-all{
  display: flex;
  
}

.btn-page{
  width: 43px;
  height: 43px;
  
}

.shop-list-btn{
  padding-left: 180px;
}
.btn-page-all li{
  margin-right: 7px;
}

/* price.html */


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 48px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #000;
}
.separator::before {
  margin-right: 26px;
}
.separator::after {
  margin-left: 26px;
}

.wrap{
  margin-bottom: 60px;
}

.price-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/barbershop-index/back-block-index.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.price-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.price-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 50px;
  margin-bottom: 30px;

  /*  */
}



.price-content-down-left,
.price-content-up-left{
margin-right: 80px;
}

.price-content-title{
  font-size: 24px;
}

.price-content-up-right{
  width: 460px;
}

.price-table{
  border-collapse: collapse;
  border: 2px solid #000;
}
.price-table tr{
  border: 2px solid #000;
  height: 39px;
}
.price-table td{
  width: 227px;
  border: 2px solid #000;
  padding-left: 17px;
}
.price-care{
  padding-left: 0px;
}

.price-care li{
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}

.price-care li::before{
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.down-block .price-content-title{
  margin-bottom: 0px;
}

/* item.html */


.item-photo{
  display: flex;
  
}
.item-photo li{
  margin-right: 20px;
}
.figure-item-photo{
  margin-left: 0px;
  margin-right: 90px;
  margin-top: 0px;
}
.figure-item-photo ul{
 padding-left: 0px;
 margin-top: 0px;
 
}
.figure-item-photo li
{
  box-shadow: 0 0 10px rgba(122,122,122,0.5);
}
.available-article{
  display: flex;
  justify-content: space-between;
   
}

.block{
  display: flex;
}

.item-content-text p{
  width: 380px;
  letter-spacing: -0.2px;
}
.main-photo li{
  width: 460px;
  height: 468px;
}

.price-item-price-and-btm {
  width: 187px;
  height: 43px;
  display: flex;

  padding: 0px 0px;
  text-align: center;
  margin-bottom: 68px;
}

.discription{
  margin-bottom: 45px;
}

.text-h3{
  font-size: 24px;
}
.item-equipment{
  padding-left: 0px;

}
.item-equipment p{
  margin-top: 0px;
  margin-bottom: 10px;
  
}


/* MODAL*/

@keyframes bounce{
  0% {
    transform: translateY(-2000px);
  }
  70%{
    transform: translateY(30px);
  }
  90%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes shake{
  0%,
  100% {
    transform: translateX(0px);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%
  {
    transform: translateX(10px);
  }
  
}

.modal {
position: fixed;

  color: #000;

  /* display: none; */

  background-color: #f8f3f0;
  background-image: url("../img/barbershop-index/back-block-index.png");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login{
  top: 120px;
  left: 50%;

  display: none;

  width: 300px;
  margin-left: -230px;

  padding: 50px 80px;
}

/* .modal-show{
  display: block;
} */

.modal-close{
  position: absolute;
  top: 0px;
  right: -34px;
  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;
  
  cursor: pointer;
}

.modal-close::before,
.modal-close::after{
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}
.modal-close::before{
  transform: rotate(45deg);
}

.modal-close::after{
  transform: rotate(-45deg);
}

.modal h2 {
margin: 0;
margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-description{
  margin: 0px;
  margin-bottom: 10px;
}

.login-form p{
  margin: 0px;
  margin-bottom: 10px;
}


.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  padding-right: 40px;
  
  
  
  font: inherit;
  color: #000;
  text-transform: inherit;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-icon-user{
  background-image: url("../svg/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password{
  background-image: url("../svg/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-form .login-help{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}
.login-checkbox{
position: relative;
padding-left: 30px;

cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after
{
content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{

  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  transform: rotate(-45deg);
}

.login-form .btn{
  width: 100%;
  margin-right: 0;
  }

  .modal-map{
    top: 50%;
    left: 50%;

    display: none;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
  }

  .modal-map p{
    margin: 0;
  }

  .modal-show{
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;

  }
  .modal-error{
    animation: shake 0.6s;
  }